body{
    margin: auto;
}

.card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    box-shadow: 0px 4px 8px black;
    margin: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.desc{
    padding: 0px 5px 0px 5px;
}

img{
    width:100%;
    border-radius: 5px;
}

.card:hover{
    box-shadow: 2px 8px 16px black;
}